{% extends 'layouts/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>{{ incidents.incident_type }}</h1>
    <h2>Incident ID: {{ incidents.incident_id }}</h2>

    <!-- Formulario para actualizar el incidente -->
    {% if incidents.state == 'new' or incidents.state == 'in_progress' %}
        {% if incidents.assigned_to == request.user or request.user.role != 'low_level' %}
        <form method="POST" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            {% if error %}
            <div class="alert alert-danger mt-3">{{ error }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        {% else %}
        <div class="card mt-4">
            <div class="card-body">
                <h4><strong>Description:</strong></h4>
                <p>{{ incidents.description }}</p>
                <h4><strong>History Incident:</strong></h4>
                <p>{{ incidents.history_incident }}</p>
                <h4><strong>Date Time:</strong> {{ incidents.date_time }}</h4>
                <h4><strong>Assigned to:</strong> {{ incidents.assigned_to }}</h4>
                <h4><strong>Priority:</strong> {{ incidents.priority }}</h4>
                <h4><strong>State:</strong> {{ incidents.state }}</h4>
            </div>
        </div>
        {% endif %}
    {% elif incidents.state == 'resolved' %}
    <form method="POST" action="{% url 'incident_detail' incidents.incident_id %}" class="mt-4">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <h4><strong>Description:</strong></h4>
                <p>{{ incidents.description }}</p>
                <h4><strong>History Incident:</strong></h4>
                <p>{{ incidents.history_incident }}</p>
                <h4><strong>Date Time:</strong> {{ incidents.date_time }}</h4>
                <h4><strong>Assigned to:</strong> {{ incidents.assigned_to }}</h4>
                <h4><strong>Priority:</strong> {{ incidents.priority }}</h4>
                <h4><strong>State:</strong> {{ form.state }}</h4>
                {% if error %}
                <div class="alert alert-danger mt-3">{{ error }}</div>
                {% endif %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Update</button>
    </form>
    {% elif incidents.state == 'closed' %}
    <div class="card mt-4">
        <div class="card-body">
            <h4><strong>Description:</strong></h4>
            <p>{{ incidents.description }}</p>
            <h4><strong>History Incident:</strong></h4>
            <p>{{ incidents.history_incident }}</p>
            <h4><strong>Date Time:</strong> {{ incidents.date_time }}</h4>
            <h4><strong>Assigned to:</strong> {{ incidents.assigned_to }}</h4>
            <h4><strong>Priority:</strong> {{ incidents.priority }}</h4>
            <h4><strong>State:</strong> {{ incidents.state }}</h4>
        </div>
    </div>
    {% endif %}

    <h2 class="mt-5">Comments</h2>

    <!-- Lista de comentarios -->
    <ul class="list-group mt-3">
        {% for comment in comments %}
        <li class="list-group-item">
            <strong>{{ comment.user }}:</strong> {{ comment.content }}
        </li>
        {% endfor %}
    </ul>

    {% if incidents.state != 'closed' %}
    <h2 class="mt-4">Add a comment</h2>
    <form method="POST" action="{% url 'add_comment' incidents.incident_id %}" class="mt-3">
        {% csrf_token %}
        {{ form2.as_p }}
        <button type="submit" class="btn btn-secondary mt-3">Add comment</button>
    </form>
    {% endif %}

    {% if incidents.state == 'closed' %}
    <form action="{% url 'incidents_delete' incidents.incident_id %}" method="POST" class="mt-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {% endif %}

    <div class="mt-4">
        <a href="{% url 'incidents_list' %}" class="btn btn-secondary">Go back</a>
    </div>
</div>
{% endblock %}
